<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green-API Interface</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form method="POST" action="/">
                <input type="text" id="idInstance" name="idInstance" placeholder="IdInstance" value="{{.IDInstance}}" required><br>
                <input type="text" id="apiTokenInstance" name="apiTokenInstance" placeholder="ApiTokenInstance" value="{{.APITokenInstance}}" required><br>
                <button type="submit" name="action" value="getSettings">getSettings</button><br>
                <button type="submit" name="action" value="getStateInstance">getStateInstance</button><br>
                <input type="text" id="chatId" name="chatId" placeholder="Chat ID"><br>
                <input type="text" id="message" name="message" placeholder="Message"><br>
                <button type="submit" name="action" value="sendMessage">sendMessage</button><br>
                <input type="text" id="fileChatId" name="fileChatId" placeholder="File Chat ID"><br>
                <input type="text" id="fileUrl" name="fileUrl" placeholder="File URL"><br>
                <input type="text" id="fileName" name="fileName" placeholder="FileName"><br>
                <input type="text" id="caption" name="caption" placeholder="Caption"><br>
                <button type="submit" name="action" value="sendFileByUrl">sendFileByUrl</button>
            </form>
        </div>
        <div class="response">
            <label for="response">Ответ:</label>
            <div class="response-text">
            {{if .Response}}
                <p>{{.Response}}</p>
            {{end}}
            {{if .ErrorMessage}}
                <p style="color:red;">{{.ErrorMessage}}</p>
            {{end}}
        </div>
        </div>
    </div>
</body>
</html>
